.excelDataTable{
    background-color: antiquewhite !important;
}
.pdfDataTable{
    background-color: antiquewhite !important;
}
.printDataTable{
    background-color: antiquewhite !important;
}
.copyDataTable{
    background-color: antiquewhite !important;
}